<div class="row">
  <div class="mb-3 col-xs-6 col-sm-6 col-md-6 col-lg-6 mx-auto">
    <div class="card-body">
      <form #addForm="ngForm" (ngSubmit)="add(addForm)" enctype="multipart/form-data" ngNativeValidate >

        <div class="form-group">
          <label for="name">Nombre</label>
          <input type="text" class="form-control" id="name" ngModel name="name" required>
        </div>
      </form>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-warning mx-2" id="Accept">Guardar</button>
  </div>
</div>