.MapaGoogle iframe {
    width: 250px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.socialNetwork img {
    width: 50px;
    height: 50px;
    margin-left: 30px;
    margin-right: auto;
}
.logo{
    width: 250px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
