<div class="mb-3 col-xs-6 col-sm-6 col-md-6 col-lg-6 mx-auto">
    <div class="card-body">
        <form #addForm="ngForm" id="addForm" (ngSubmit)="add(addForm)" enctype="multipart/form-data" ngNativeValidate>
            
            <div class="form-group">
                <label for="cuit">Cuit:</label>
                <input type="number" class="form-control" id="cuit" ngModel name="cuit" [formControl]="cuitControl" required>
                <div *ngIf="cuitControl.invalid && (cuitControl.dirty || cuitControl.touched)" class="text-danger">
                    <div *ngIf="cuitControl.errors?.['required']">CUIT es requerido.</div>
                    <div *ngIf="cuitControl.errors?.['pattern']">CUIT debe tener exactamente 11 caracteres numéricos.</div>
                </div>
            </div>
            <div class="form-group">
                <label for="businessName">Nombre:</label>

                <input type="text" class="form-control" id="businessName" ngModel name="businessName" required>
            </div>

            <div class="form-group">
                <label for="cuit">Cuit</label>
                <input type="number" class="form-control" id="cuit" ngModel name="cuit" required>
            </div> 

            <div class="form-group">                    
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" ngModel name="email" required>
            </div>
            
            <div class="form-group">
<!-- CONTROLAR EL TIPO DE DATO DEL TEÉFONO
                <label for="phone">Telefono:</label>
                <input type="number" class="form-control" id="phone" ngModel name="phone" required>
<!--                 <input type="text" class="form-control" id="phone" ngModel name="phone" required> -->

            </div>
        </form>
    </div>
</div>

<div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-warning mx-2" form="addForm" id="Accept">Guardar</button>
</div>