<body>
  <form [formGroup]="loginForm">
  
    <div class="mb-3 col-xs-6 col-sm-6 col-md-6 col-lg-6 mx-auto">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
        <small *ngIf="email.errors?.['required']">
          El email es requerido.
        </small>
        <small *ngIf="email.errors?.['email']">
          El email debe tener un formato válido.
        </small>
      </div>
    </div>
  
    <div class="mb-3 col-xs-6 col-sm-6 col-md-6 col-lg-6 mx-auto">
      <label for="exampleInputPassword1" class="form-label">Contraseña</label>
      <div class="input-group">
        <input [type]="showPassword ? 'text' : 'password'" formControlName="password" class="form-control"  [ngClass]="{ 'is-invalid': password.invalid && (password.dirty || password.touched) || isPasswordIncorrect }"
        id="exampleInputPassword1"/>
        <span class="input-group-text" (click)="togglePasswordVisibility()" style="cursor: pointer;">
          <i [class]="showPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
        </span>
      </div>
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
        <small *ngIf="password.errors?.['required']">
          La contraseña es requerida.
        </small>
      </div>
  
      <!-- Mensaje de contraseña incorrecta -->
      <small *ngIf="isPasswordIncorrect" class="text-danger">
        La contraseña es incorrecta.
      </small>
  
      <div>
        <a href="/reset-password" class="btn-link font-small">¿Olvidaste tu contraseña?</a>
      </div>
    </div>
  
    <div class="d-flex justify-content-center">
      <button type="submit" (click)="login()" class="btn btn-warning" id="logIn">Iniciar Sesión</button>
    </div>
  </form>
  
</body>