#logIn{
    background-color: #e7c633; 
    color: white;
    width: 20%;
  }  

  form {
    margin: 30px;
  }

.ng-valid:not(form).ng-touched {
    border: 2px solid #42a942;
}

.ng-invalid:not(form).ng-touched {
    border: 2px solid #eb1708;
}

.btn-link{
  color: #d8b930;
  font-size: small;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que el body siempre ocupe toda la altura de la ventana */
  margin: 0;
}

.input-group-text {
  background: transparent;
  border-color: #ced4da;
  display: flex;
  align-items: center;
}

.input-group-text i {
  font-size: 1rem;
  color: #6c757d; 
}

.input-group-text:hover {
  color: #000; 
}