body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el body siempre ocupe toda la altura de la ventana */
    margin: 0;
}
  
.content {
    flex: 1; /* Hace que este contenido ocupe el espacio restante si la página no tiene suficiente contenido */
}