<p>reset-password works!</p>
<body><div class="row content"></div></body>
<!--<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-9 mx-auto d-flex align-items-center">
      <div class="card-body">
        <form #VerifyUserForm="ngForm" (ngSubmit)="VerifyEmail(VerifyUserForm)" enctype="multipart/form-data" ngNativeValidate>
  
          <div class="form-group">
            <label for="email">Mail*:</label>
            <input type="email" class="form-control" id="email" ngModel name="email" required>
          </div>
          <div class="text-center mt-3">
            <button type="submit" class="btn btn-warning mx-2" id="Accept">Guardar</button>
          </div>

        </form>
    </div>
  </div>
</div> -->