<div class="col-xs-6 col-sm-6 col-md-6 col-lg-9 mx-auto d-flex align-items-center">
  <div class="card-body">
    <form [formGroup]="resetForm" (ngSubmit)="VerifyEmail()">
      <div class="form-group">
        <label for="email" class="form-label">Email:</label>
        <input type="email" class="form-control" id="email" formControlName="email"
          [ngClass]="{ 'is-invalid': email.invalid && (email.dirty || email.touched) }">
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
          <small *ngIf="email.errors?.['required']">
            El email es requerido.
          </small>
          <small *ngIf="email.errors?.['email']">
            El email debe tener un formato válido.
          </small>
        </div>
      </div>
      <div class="text-center mt-3">
        <button type="submit" class="btn btn-warning mx-2" id="Accept">Guardar</button>
      </div>
    </form>
  </div>
</div>