@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lora&display=swap');

h2, h3{
  font-family: 'Dancing Script', cursive;
  font-family: 'Lora', serif;
  }
  
.img {
  height: 300px;
  width: 300px;
  transition: transform 0.4s;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img:hover {
  transform: scale(1.2);
}



  
