<app-carousel></app-carousel>
<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 py-5 mb-3" *ngFor="let product of products" id="product">
      <a [routerLink]="['/product', product._id]" class="no-underline">
        <div class="card">
          <img class="card-img-top" [src]="product.image"  alt="{{ product.name }}">
            <div class="card-body">
              <h1 class="card-title truncate">{{ product.name }}</h1>
              <h3 class="card-text truncate">{{ product.description }}</h3>
              <h2 class="card-text">Precio: {{ product.price }}</h2>
              <!-- <p class="card-text">Stock: {{ product.stock }}</p> -->
                <div class="button-container right-align">
                  <button type="submit" class="btn btn-warning" (click)="addToCart(product)" style="color: white;">Añadir al carrito</button>
                </div>
            </div>
          </div>
        </a>
  </div>
</div>


<!-- no lo borren así sabemos cual era el nombre de cada producto  -->
<!-- <div class="purse" id="purse">
  <div class="row gx-5 mx-auto ">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 py-5 mb-3">
      <img class="img" src="/assets/img/cartera 1.jpg"/>
      <h2>Delicate</h2>
      <p>Descripcion</p>
      <h3>$60.000</h3>
      <div class="button-container right-align">
        <button type="submit" class="btn btn-warning">Añadir al carrito</button>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 py-5 mb-3">
      <img class="img" src="/assets/img/cartera 2.jpg"/>
      <h2>Greedy</h2>
      <p>Descripcion</p>
      <h3>$55.000</h3>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 py-5 mb-3">
      <img class="img" src="/assets/img/cartera 3.webp"/>
      <h2>Lover</h2>
      <p>Descripcion</p>
      <h3>$70.000</h3>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 py-5 mb-3">
      <img class="img" src="/assets/img/cartera 4.webp"/>
      <h2>Reputation</h2>
      <p>Descripcion</p>
      <h3>$50.000</h3>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 py-5 mb-3"> 
      <img class="img" src="/assets/img/cartera 5.jpg"/>
      <h2>Sweetener</h2>
      <p>Descripcion</p>
      <h3>$65.000</h3>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 py-5 mb-3">
      <img class="img" src="/assets/img/cartera 6.jpeg"/>
      <h2>Fearless</h2>
      <p>Descripcion</p>
      <h3>$68.000</h3>
    </div>
  </div>
</div>
<div class="wallet" id="wallet">
  <div class="row gx-5 mx-auto ">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 py-5 mb-3">
      <img class="img" src="/assets/img/billetera 1.jpg"/>
        <h2>Daylight</h2>
        <p>Descripcion</p>
        <h3>$15.000</h3>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 py-5 mb-3">
      <img class="img" src="/assets/img/billetera 2.webp"/>
        <h2>Evermore</h2>
        <p>Descripcion</p>
        <h3>$19.000</h3>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 py-5 mb-3">
      <img class="img" src="/assets/img/billetera 3.jpg"/>
      <h2>The way</h2>
      <p>Descripcion</p>
      <h3>$20.000</h3>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 py-5 mb-3">
      <img class="img" src="/assets/img/billetera 4.jpg"/>
        <h2>Lavander Haze</h2>
        <p>Descripcion</p>
        <h3>$13.000</h3>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 py-5 mb-3"> 
      <img class="img" src="/assets/img/billetera 5.webp"/>
        <h2>Thank you, next</h2>
        <p>Descripcion</p>
        <h3>$22.000</h3>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 py-5 mb-3">
      <img class="img" src="/assets/img/billetera 6.jpeg"/>
        <h2>RED</h2>
        <p>Descripcion</p>
        <h3>$16.000</h3>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 py-5 mb-3">
      <img class="img" src="/assets/img/billeHombre 1.jpg"/>
        <h2>RED</h2>
        <p>Descripcion</p>
        <h3>$16.000</h3>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 py-5 mb-3">
      <img class="img" src="/assets/img/billeHombre 2.jpg"/>
        <h2>RED</h2>
        <p>Descripcion</p>
        <h3>$16.000</h3>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 py-5 mb-3">
      <img class="img" src="/assets/img/billeHombre 3.jpg"/>
        <h2>RED</h2>
        <p>Descripcion</p>
        <h3>$16.000</h3>
    </div>
  </div>
</div>
<div class="fannypack" id="fannypack">
  <div class="row gx-5 mx-auto ">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 py-5 mb-3">
      <img class="img" src="/assets/img/riñonera 1.png"/>
      <h2>Ghostin</h2>
      <p>Descripcion</p>
      <h3>$32.000</h3>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 py-5 mb-3">
      <img class="img" src="/assets/img/riñonera 2.jpg"/>
      <h2>Style</h2>
      <p>Descripcion</p>
      <h3>$38.000</h3>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 py-5 mb-3">
      <img class="img" src="/assets/img/riñonera 3.jpg"/>
      <h2>Epiphany</h2>
      <p>Descripcion</p>
      <h3>$28.000</h3>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 py-5 mb-3">
      <img class="img" src="/assets/img/riñonera 4.jpg"/>
      <h2>Nonsense</h2>
      <p>Descripcion</p>
      <h3>$35.000</h3>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 py-5 mb-3">
      <img class="img" src="/assets/img/riñonera 5.jpg"/>
      <h2>Needy</h2>
      <p>Descripcion</p>
      <h3>$37.000</h3>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 py-5 mb-3">
      <img class="img" src="/assets/img/riñonera 6.jpg"/>
        <h2>Moonlight</h2>
        <p>Descripcion</p>
        <h3>$40.000</h3>
    </div>
  </div>
</div>    
<div class="backpack" id="backpack">
  <div class="row gx-5 mx-auto ">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 py-5 mb-3">
      <img class="img" src="/assets/img/mochila 1.jpg"/>
        <h2>Nombre</h2>
        <p>Descripcion</p>
        <h3>$71.800</h3>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 py-5 mb-3">
      <img class="img" src="/assets/img/mochila 2.jpg"/>
        <h2>Nombre</h2>
        <p>Descripcion</p>
        <h3>$64.500</h3>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 py-5 mb-3">
      <img class="img" src="/assets/img/mochila 3.jpg"/>
        <h2>Nombre</h2>
        <p>Descripcion</p>
        <h3>$62.000</h3>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 py-5 mb-3">
      <img class="img" src="/assets/img/mochila 4.jpg"/>
        <h2>Nombre</h2>
        <p>Descripcion</p>
        <h3>$62.000</h3>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 py-5 mb-3">
      <img class="img" src="/assets/img/mochila 5.jpg"/>
        <h2>Nombre</h2>
        <p>Descripcion</p>
        <h3>$62.000</h3>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 py-5 mb-3">
      <img class="img" src="/assets/img/mochila 6.jpg"/>
        <h2>Nombre</h2>
        <p>Descripcion</p>
        <h3>$62.000</h3>
    </div>
  </div>
</div>
 -->
