.card-img-top {
  height: 260px;
  width: 260px;
  transition: transform 0.4s;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none; 
}

.card-img-top:hover {
  transform: scale(1.2);
}

.button-container {
  float: right;
}

a {
  text-decoration: none; 
}

h1{
  font-family: 'Quicksand', sans-serif;
}

h2 {
  font-family: 'Quicksand', sans-serif;
}

h3 {
  font-family: 'Quicksand', sans-serif;
}