<app-carousel></app-carousel>
<div class="row content">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 py-4" *ngFor="let product of products" id="product">
      <a [routerLink]="['/product', product.id]" class="no-underline">
        <div class="card">
          <img class="card-img-top" [src]="apiUrl + product.image"  alt="{{ product.name }}">
            <div class="card-body">
              <h1 class="card-title truncate">{{ product.name }}</h1>
              <h3 class="card-text truncate">{{ product.description }}</h3>
              <h2 class="card-text">Precio: {{ product.price }}</h2>
              <!-- <p class="card-text">Stock: {{ product.stock }}</p> -->
                <div class="button-container right-align">
                  <a [routerLink]="['/product', product.id]" class="btn btn-warning" id="Product">
                    Ver producto
                  </a>
                </div>
            </div>
          </div>
        </a>
  </div>
</div>