/* Estilo del título */
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Dancing Script', cursive;
  font-size: 40px;  
  font-weight: bold;  
  background: linear-gradient(45deg, #e7c633, #ffd700);
  color: white; 
  position: fixed; 
  top: 0; 
  z-index: 1000; /* Asegura que el encabezado esté por encima del contenido */  
} 
h3{
  font-family: 'Dancing Script', cursive;
}

.mat-toolbar.navBar { 
  .mat-toolbar-row { 
    display: flex; 
    justify-content: center;  
    gap: 30px;   
  } 

  button.mat-button { 
    margin-left: 20px;
    background-color: transparent;
    color: inherit;
    border: none;
  } 
  margin-top: 65px 
}

/* Barra de navegación */
.navBar {
  margin-top: 65px;

  .mat-toolbar-row {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .capitalize-text {
    text-transform: capitalize;
  }
}

/* Botón de búsqueda */
.search-button {
  background-color: white;
  border: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button:hover {
  background-color: #f5f5f5;
}

/* Ícono de búsqueda */
.search-icon {
  color: #e7c633;
  width: 24px;
  height: 24px;
}

.navbar-nav {
  margin-right: 25px;
}

/* Campo de búsqueda */
#search-form {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 25px;
}

#search-input {
  width: 200px;
  transition: width 0.3s ease-in-out;
  margin-right: 10px;
}

#search-input:focus {
  width: 300px;
}

/* Íconos de usuario y carrito */
.mat-icon {
  color: #e7c633;
}

.cart-button {
  background-color: white;
  color: #e7c633;
  border: none;
}

#Finish{
  background: linear-gradient(45deg, #e7c633, #ffd700);
  font-weight: 550;
  color: white;
  border-color: white;
}

#Close{
  background: linear-gradient(45deg, #b1b0ac, #cccbc9);
  font-weight: 550;
  color: white;
  border-color: white;
}

/* Responsividad */
@media (max-width: 991px) {
  #navbarNavDropdown {
    position: absolute;
    top: 65px;
    left: 0;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity));
    flex-direction: column;
    align-items: flex-start;
  }

  #search-form {
    width: 100%;
    margin: 10px 0;
  }

  #search-input {
    width: 100%;
  }
  /////

}
