@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lora&family=Montserrat:wght@300&family=Quicksand:wght@500&display=swap');

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px; 
  font-weight: bold; 
  background-color:#E91E63;
  color: white;
}
