<mat-toolbar class= 'title'>
  <a class="navbar-brand" href="#">Coco Purse</a>      
</mat-toolbar>

<mat-toolbar class = 'navBar'>
  <mat-toolbar-row>
    <span class="example-spacer"></span>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <button mat-button [matMenuTriggerFor]="categoriesMenu">Categorías</button>
              <mat-menu #categoriesMenu="matMenu">
                <button mat-menu-item (click)="onCategoryButtonClick('purses')">Carteras</button>
                <button mat-menu-item (click)="onCategoryButtonClick('wallets')">Billeteras</button>
                <button mat-menu-item (click)="onCategoryButtonClick('fannypacks')">Riñoneras</button>
                <button mat-menu-item (click)="onCategoryButtonClick('backpacks')">Mochilas</button>
              </mat-menu>
            </li>

            <li class="nav-item">
              <button mat-button>Descuentos</button>
            </li>
          </ul>
        </div>
      </div>
    </nav>  
<!-- cuando lo validemos o se va a mostrar el ingresar secion o el de cabiar los datos  -->
    <button *ngIf="!isLoggedIn" (click)="UserRegistration()" mat-button>Iniciar Sesion</button>
    <button *ngIf="isLoggedIn" (click)="logout()" mat-button>Cerrar Sesion</button>

    <mat-icon style="color: #e7c633;" (click)="UserInformation()" >perm_identity</mat-icon>
    
    <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color: white;">
      <mat-icon style="color: #e7c633;" >shopping_cart</mat-icon>
    </button>
    
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Carrito de compra</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">
            <p>Compras</p>
          </div>

          <app-cart></app-cart>
          <!-- RENDERIZO ESTE COMPONENTE PARA PROBAR QUE FUNCIONE, EN ESTE MODAL PODRIAN MANEJARLO CON OTRO COMPONENTE SI PREFIEREN, SIEMPRE Y CUANDO CONSUMAN EL CARTSERVICE -->

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" id="Close" data-bs-dismiss="modal">Cerrar</button>
            <a routerLink="/cart" class="button fancy-button" class="btn btn-warning" id="Finish" data-bs-dismiss="modal">Terminar pedido</a>
          </div>
        </div>
      </div>
    </div>      

    <div>
      <button mat-button [matMenuTriggerFor]="menu" *ngIf="isAdmin">Admin</button>
      <mat-menu #menu="matMenu">
        <button (click)="AdminProducts()" mat-menu-item>Productos</button>
        <button (click)="AdminProvinces()" mat-menu-item>Provincias</button>
        <button (click)="AdminCategories()" mat-menu-item>Categorias</button>
        <button (click)="AdminCities()" mat-menu-item>Ciudades</button>
        <button (click)="AdminSuppliers()" mat-menu-item>Proveedores</button>
        <button (click)="UserList()" mat-menu-item>Usuarios</button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
