<mat-toolbar class= 'title'>
  <span>My Application</span>      
</mat-toolbar>

<mat-toolbar class = 'navBar'>
    <mat-toolbar-row>
      <span class="example-spacer"></span>
      <button mat-button>Descuentos</button>
      <button mat-button>Carteras</button>
      <button mat-button>Riñoneras</button>
      <button mat-button>Billeteras</button>
      <button mat-button>Gift cards</button>
      <button mat-button>Iniciar Sesion</button>
      <button mat-fab aria-label="Example icon button with a delete icon">
        <mat-icon>shopping_cart</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  
