.card-img-top {
    height: 260px;
    width: 260px;
    margin-left: auto;
    margin-right: auto;
  }

#Añadir {
  background-color:  #e7c633; 
  color: white;
  border-color: white;
} 

h1, h2, h3{
  font-family: 'Quicksand', sans-serif;
}