<h1>Agregar Nuevo Producto</h1>
  <!-- <div class="card-body">
    <form (ngSubmit)="add()" enctype="multipart/form-data">
      <div class="form-group">
        <label for="name">Nombre:</label>
            <textarea class="form-control" id="name" [(ngModel)]="product.name" name="name" required></textarea>
      </div>
      <div class="form-group">
        <label for="description">Descripción:</label>
          <textarea class="form-control" id="description" [(ngModel)]="product.description" name="description" required></textarea>
      </div>
      <div class="form-group">
        <label for="stock">Stock:</label>
          <input type="number" class="form-control" id="stock" [(ngModel)]="product.stock" name="stock" required>
        </div>
        <div class="form-group mb-2">
          <label for="precio">Precio:</label>
        <div class="input-group">
          <input type="text" class="form-control" id="price" [(ngModel)]="product.price" name="price" required>
        </div>
        </div>
        <div class="form-group">
          <label for="image">Imagen:</label>
            <input type="file" class="form-control-file" id="image" name="image" accept="image/*" (change)="onImageSelected($event)" required>
        </div>
        <div class="form-group">
        <label for="category">Categoria:</label>
          <input type="text" class="form-control" id="category" [(ngModel)]="product.category" name="category" required>
        </div>
        <div class="form-group">
          <label for="supplier">Proveedor:</label>
            <input type="text" class="form-control" id="supplier" [(ngModel)]="product.supplier" name="supplier" required>
        </div>
        <div class="text-center mt-3">
          <button type="submit" class="btn btn-warning mx-2" id="Accept">Guardar</button>
        </div>
    </form>
  </div>   -->
      
