<div class="box">
    <div>
        <div class="login-container" ><h1>Iniciar sesión</h1>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                <mat-label>Ingrese su e-mail</mat-label>
                <input matInput placeholder value>
                </mat-form-field>
            
                <mat-form-field class="example-full-width">
                    <mat-label>Ingrese su contraseña</mat-label>
                    <input matInput placeholder value>
                </mat-form-field>

                <div class="button-container right-align">
                    <button mat-raised-button color="accent">Aceptar</button>
                    <span class="button-space"></span>
                    <button mat-raised-button disabled>Cancelar</button>
                </div>
            </form>
        </div>
    </div>
    <div>
        <div class="login-container"><h1>Registrate</h1>
            <form class="example-form">

                <table class="example-full-width" cellspacing="0"><tr>
                    <td><mat-form-field class="example-full-width">
                        <mat-label>Nombre*</mat-label>
                        <input matInput>
                    </mat-form-field></td>
                    <td><mat-form-field class="example-full-width">
                        <mat-label>Apellido*</mat-label>
                        <input matInput>
                    </mat-form-field></td>
                    </tr></table>

                <mat-form-field class="example-full-width">
                    <mat-label>DNI*</mat-label>
                    <input matInput placeholder value>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>E-mail*</mat-label>
                    <input matInput placeholder value>
                </mat-form-field>
                
                <mat-form-field class="example-full-width">
                    <mat-label>Teléfono</mat-label>
                    <input matInput placeholder value>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Ciudad*</mat-label>
                    <input matInput placeholder value>
                </mat-form-field>

                <table class="example-full-width" cellspacing="0"><tr>
                    <td><mat-form-field class="example-full-width">
                    <mat-label>Calle*</mat-label>
                    <input matInput>
                    </mat-form-field></td>
                    <td><mat-form-field class="example-full-width">
                    <mat-label>Número*</mat-label>
                    <input matInput>
                    </mat-form-field></td>
                </tr></table>
                
                <mat-radio-group aria-label="Select an option">
                    <h2>Tipo cliente*</h2>
                    <mat-radio-button value="1" >Mayorista</mat-radio-button>
                    <mat-radio-button value="2">Minorista</mat-radio-button>
                </mat-radio-group>
                  
                <mat-form-field class="example-full-width">
                    <mat-label>Contraseña*</mat-label>
                    <input matInput placeholder value>
                </mat-form-field> 
                <div class="button-container right-align">
                    <button mat-raised-button color="accent">Aceptar</button>
                    <span class="button-space"></span>
                    <button mat-raised-button disabled>Cancelar</button>
                </div>
            </form>   
        </div>       
    </div>
</div>