@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&family=Raleway&display=swap');
  
  .example-full-width{
    width: 100%;
  }
  .example-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}


.button-space{ // para separar un poco los botones
    margin-left: 10px;  
  }

// .right-align{
//     display: flex;
//     justify-content: flex-end;
//   }

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Dancing Script', cursive;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px; 
  }

h2{
  font-size: 15px; 
  }


#signUp, #logIn{
  background-color: #e7c633; 
  color: white;
}
