#Accept{
    background-color: #e7c633; 
    color: white;
  }  
  .form-group {
    position: relative;
  
    .info-icon {
      cursor: pointer;
      color: #007bff; /* Color azul */
      position: absolute;
      right: 10px;
      top: 50%; 
      transform: translateY(-50%);
    }
  
    .info-icon:hover {
      color: #0056b3; 
    }
  
    .form-control {
      padding-right: 2.5em; 
    }
  }
    