form {
    margin: 30px;
}

#Accept{
    background-color: #e7c633; 
    color: white;
    width: 20%;
<<<<<<< HEAD
    border-color: white;
}  
  
=======
  }  
 
>>>>>>> f613a9c32561f16c8a0e373a5f6100a6fb4a94e1
.ng-valid:not(form).ng-touched {
    border: 2px solid #42a942;
}

.ng-invalid:not(form).ng-touched {
    border: 2px solid #eb1708;
}

<<<<<<< HEAD
.input-group-text {
    background: transparent;
    border-color: #ced4da;
    display: flex;
    align-items: center;
}
  
.input-group-text i {
    font-size: 1rem;
    color: #6c757d; 
}
  
.input-group-text:hover {
    color: #000; 
}
=======
  .form-group {
    position: relative;
  
    .info-icon {
      cursor: pointer;
      color: #007bff; /* Color azul */
      position: absolute;
      right: 10px;
      top: 50%; 
      transform: translateY(-50%);
    }
  
    .info-icon:hover {
      color: #0056b3; 
    }
  
    .form-control {
      padding-right: 2.5em; 
    }
  }
>>>>>>> f613a9c32561f16c8a0e373a5f6100a6fb4a94e1
