<div class="cities-container" style="display: flex; flex-wrap: wrap; gap: 15px;">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 d-flex" style="flex: 0 0 calc(50% - 15px); margin-bottom: 15px;" *ngFor="let city of cities">
    <div class="card-body">
      <div *ngIf="city.editing">
        <div class="form-group">
          <label for="name">Nombre: </label>
          <input type="text" class="form-control" id="name" [(ngModel)]="city.editName" name="name" required>
        </div>
      </div>

      <div *ngIf="!city.editing">
        <h2 class="card-text" style="font-family: 'Quicksand', sans-serif;">Nombre: {{ city.name }}</h2>
      </div>

      <div *ngIf="city.editing">
        <div class="form-group">
        <label for="postCode">Código postal:</label>
        <input type="string" class="form-control" id="postCode" [(ngModel)]="city.editPostCode" name="postCode" required>
      </div>
    </div>

    <div *ngIf="!city.editing">
      <h2 class="card-text" style="font-family: 'Quicksand', sans-serif;">Código postal: {{ city.postCode }}</h2>
    </div>

    <div *ngIf="city.editing">
      <div class="form-group">
      <label for="surcharge">Recargo:</label>
      <input type="number" class="form-control" id="surcharge" [(ngModel)]="city.editSurcharge" name="surcharge" required>
    </div>
  </div>

  <div *ngIf="!city.editing">
    <h2 class="card-text" style="font-family: 'Quicksand', sans-serif;">Recargo: {{ city.surcharge }}</h2>
  </div>
  </div>

  <div class="example-button-container" style="display: flex; justify-content: flex-end;" >
    <button mat-icon-button class="btn" *ngIf="!city.editing" (click)="edit(city)" style="color: #e7c633;"><mat-icon>create</mat-icon></button>
    <button mat-icon-button class="btn" *ngIf="city.editing" (click)="save(city)" style="color: #e7c633;"><mat-icon>save_alt</mat-icon></button>
    <button mat-icon-button class="btn" (click)="delete(city)" style="color: #f76666;"><mat-icon>delete</mat-icon></button>
  </div>
</div>
  