<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-9 mx-auto d-flex align-items-center">
    <div class="card-body">
      <form [formGroup]="resetPasswordForm" (ngSubmit)="ResetPassword()">
        <div class="form-group">
          <mat-icon class="info-icon" (mouseenter)="showPasswordInfo()" aria-hidden="false"
            aria-label="Ayuda">help_outline</mat-icon>
          <label for="password">Contraseña:</label>
          <div class="input-group">
            <input [type]="showPassword ? 'text' : 'password'" class="form-control" id="password"
              formControlName="password"
              [ngClass]="{ 'is-invalid': password.invalid && (password.dirty || password.touched) }">
            <mat-icon class="visibility-icon" (click)="togglePasswordVisibility()">
              {{showPassword ? 'visibility_off' : 'visibility'}}
            </mat-icon>
          </div>
          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
            <small *ngIf="password.errors?.['required']">
              La contraseña es requerida.
            </small>
            <small *ngIf="password.errors?.['pattern']">
              La contraseña debe tener al menos 8 caracteres, una mayúscula, un número y un carácter especial.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label for="password2">Verificar Contraseña:</label>
          <div class="input-group">
            <input [type]="showConfirmPassword ? 'text' : 'password'" class="form-control" id="password2"
              formControlName="password2"
              [ngClass]="{ 'is-invalid': password2.invalid && (password2.dirty || password2.touched) }">
            <mat-icon class="visibility-icon" (click)="toggleConfirmPasswordVisibility()">
              {{showConfirmPassword ? 'visibility_off' : 'visibility'}}
            </mat-icon>
          </div>
          <div *ngIf="password2.invalid && (password2.dirty || password2.touched)" class="text-danger">
            <small *ngIf="password2.errors?.['required']">
              La verificación de contraseña es requerida.
            </small>
          </div>
        </div>

        <div class="text-center mt-3">
          <button type="submit" class="btn btn-warning mx-2" id="Accept">Aceptar</button>
        </div>
      </form>
    </div>
  </div>
</div>