
<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-9 mx-auto d-flex align-items-center">
    <div class="card-body">
      <form #ResetPasswordForm="ngForm" (ngSubmit)="ResetPassword(ResetPasswordForm)" ngNativeValidate>
        <div class="form-group">
          <mat-icon class="info-icon" (mouseenter)="showPasswordInfo()" aria-hidden="false" aria-label="Ayuda">help_outline</mat-icon>
          <label for="password">Contraseña:</label>
          <input type="password" class="form-control" id="password" ngModel name="password" required>
        </div>
        <div class="form-group">
          <label for="password2">Verificar Contraseña:</label>
          <input type="password" class="form-control" id="password2" ngModel name="password2" required>
          <mat-icon class="info-icon" (mouseenter)="showPasswordInfo()" aria-hidden="false" aria-label="Ayuda">help_outline</mat-icon>
        </div>
        <div class="text-center mt-3">
          <button type="submit" class="btn btn-warning mx-2" id="Accept">Aceptar</button>
        </div>
      </form>
    </div>
  </div>
</div>

