<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 d-flex" style="margin-bottom: 5px;" *ngFor="let category of categories">
    <div class="card-body">
      <div *ngIf="category.editing">
        <div class="form-group">
          <label for="name">Nombre: </label>
          <input type="text" class="form-control" id="name" [(ngModel)]="category.editName" name="name" required>
        </div>
      </div>

      <div *ngIf="!category.editing">
        <h2 class="card-text" style="font-family: 'Quicksand', sans-serif;">Nombre: {{ category.name }}</h2>
      </div>

      <div *ngIf="category.editing">
        <div class="form-group">
          <label for="description">Descripción:</label>
          <textarea class="form-control" id="description" [(ngModel)]="category.editDescription" name="description" required></textarea>
        </div>
      </div>
  
      <div *ngIf="!category.editing">
        <h2 class="card-text truncate" style="font-family: 'Quicksand', sans-serif;">Descripcion: {{ category.description }}</h2>
      </div>
    </div>

    <div class="example-button-container" style="display: flex; justify-content: flex-end;" >
      <button mat-icon-button class="btn" *ngIf="!category.editing" (click)="edit(category)" style="color: #e7c633;"><mat-icon>create</mat-icon></button>
      <button mat-icon-button class="btn" *ngIf="category.editing" (click)="save(category)" style="color: #e7c633;"><mat-icon>save_alt</mat-icon></button>
      <button mat-icon-button class="btn" (click)="delete(category)" style="color: #f76666;"><mat-icon>delete</mat-icon></button>
    </div>
  </div>
</div>
  