.btnTrash
{
  background-color: #e7c633;
  color:white;
}
a {
  text-decoration: none;
}

.card-img-top {
  height: 260px;
  width: 260px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


