<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 py-5 mb-3" *ngFor="let product of products">
      <div class="card">
        <div class="example-button-container">
          <div class="example-button-container" style="display: flex; justify-content: flex-end;">
            <button mat-fab color="#e7c633" class="btn" (click)="delete(product.id)"><mat-icon>delete</mat-icon></button>
          </div>
        </div>
        
        <img class="card-img-top" [src]="product.image" alt="{{ product.name }}">
        <div class="card-body">
          <h1 class="card-title truncate">{{ product.name }}</h1>
          <h3 class="card-text truncate">{{ product.description }}</h3>
          <h2 class="card-text">Precio: {{ product.price }}</h2>
          <p class="card-text">Stock: {{ product.stock }}</p>
          
        </div>
      </div>
  </div>
</div>
