<div class="users-container">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 d-flex"  *ngFor="let user of users" id="user">
      <div class="card-body">
        <h3 class="card-text truncate">Nombre: {{ user.firstName }}</h3>
        <h3 class="card-text truncate">Apellido: {{ user.lastName }}</h3>
        <h3 class="card-text truncate">Email: {{ user.email }}</h3>
        <h3 class="card-text truncate">Telefono: {{ user.phone }}</h3>
        <h3 class="card-text truncate">Calle: {{ user.street }}</h3>
        <h3 class="card-text truncate">Número: {{ user.streetNumber }}</h3>
      </div>
  </div>
</div>