<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 py-5 mb-3" *ngFor="let product of products">
    <div class="example-button-container" style="display: flex; justify-content: flex-end;">
      <button mat-fab color="#e7c633" class="btn" *ngIf="!product.editing" (click)="edit(product)"><mat-icon>create</mat-icon></button>
      <button mat-fab color="#e7c633" class="btn" (click)="delete(product.id)"><mat-icon>delete</mat-icon></button>
    </div>

    <div class="card-body">
      <img class="card-img-top" [src]="product.image" alt="{{ product.name }}">
    
      <h2 class="card-title truncate"> Nombre: {{ product.name }}</h2>
      
      <div *ngIf="product.editing">
        <div class="form-group">
          <label for="description">Descripción:</label>
          <textarea class="form-control" id="description" [(ngModel)]="product.editDescription" name="description" required></textarea>
        </div>
      </div>
      <div *ngIf="!product.editing">
        <h2 class="card-text truncate">Descripcion: {{ product.description }}</h2>
      </div>
    
      <div *ngIf="product.editing">
        <div class="form-group mb-2">
          <label for="precio">Precio:</label>
          <input type="text" class="form-control" id="price" [(ngModel)]="product.editPrice" name="price" required>
        </div>
      </div>
      <div *ngIf="!product.editing">
        <h2 class="card-text"> Precio: {{ product.price }}</h2>
      </div>
      

      <div *ngIf="product.editing">
        <div class="form-group">
          <label for="stock">Stock:</label>
          <input type="number" class="form-control" id="stock" [(ngModel)]="product.editStock" name="stock" required>
        </div>
      </div>
      <div *ngIf="!product.editing">
        <h2 class="card-text">Stock: {{ product.stock }}</h2>
      </div>

      <div class="example-button-container" style="display: flex; justify-content: flex-end;">
        <button mat-fab color="#e7c633" class="btn" *ngIf="product.editing" (click)="save(product)"><mat-icon>save_alt</mat-icon></button>
      </div>
    </div>
  </div>
</div>
