#Product{
    background-color:  #e7c633; 
    color: white;
  }
  
.btn{
    border-color: white;
}

h1{
    font-family: 'Quicksand', sans-serif;
}

h2{
    font-family: 'Quicksand', sans-serif;
}

h3{
    font-family: 'Quicksand', sans-serif;
}